<ion-header>
  <ion-toolbar>
    <ion-title>compte-deals</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="infos" routerLink="/compte-infos">
          <ion-label>Mes Infos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="scans" routerLink="/compte-scans">
          <ion-label>Mes Scans</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="deals" routerLink="/compte-deals">
          <ion-label>Mes Deals</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of getDeals()">
      <app-deals-component [title]="item.title" [image]="imageTmp" [price]="item.price" [oldPrice]="item.old_price"
                           [salePercent]="item.sale_percent" [vote]="item.vote" [dateCreation]="item.creation"
                           [description]="item.description" [expired]="item.expired" [id]="item._id"></app-deals-component>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addDeals()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

