<ion-card>
  <ion-card-header (click)="moreInformations()">
    <ion-img style="width: 30%" [src]=image></ion-img>
    <ion-card-subtitle>title : {{title}}</ion-card-subtitle>
    <ion-card-subtitle>price : {{price}}</ion-card-subtitle>
    <ion-card-subtitle>oldPrice : {{oldPrice}}</ion-card-subtitle>
    <ion-card-subtitle>salePercent : {{salePercent}}</ion-card-subtitle>
    <ion-card-subtitle>vote : {{vote}}</ion-card-subtitle>
    <ion-card-subtitle>dateCreation : {{dateCreation}}</ion-card-subtitle>
    <ion-card-subtitle>description : {{description}}</ion-card-subtitle>
    <ion-card-subtitle>expired : {{expired}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

