<ion-card>
  <ion-card-header (click)="moreInformations()">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ion-img *ngIf="image" [src]=image></ion-img>
          <ion-img *ngIf="!image" [src]=img></ion-img>
        </div>
        <div class="col-8">
          <ion-card-subtitle>{{title}}</ion-card-subtitle>
          <ion-card-subtitle><b> {{price|  number : '1.2-2'}}€ </b> <del> {{oldPrice |  number : '1.2-2' }}€</del></ion-card-subtitle>
<!--          <ion-card-subtitle>{{salePercent|  number : '1.2-2'}}%</ion-card-subtitle>-->
        </div>
      </div>
      <div class="row">
        <ion-card-subtitle>vote : {{vote}}</ion-card-subtitle>
        <ion-text>{{dateCreation  | date: "dd/MM/yyyy HH:mm"}}</ion-text>
        <ion-card-subtitle>Description : {{description}}</ion-card-subtitle>
        <ion-card-subtitle>Expiré : <span *ngIf="expired">oui</span><span *ngIf="!expired">non</span></ion-card-subtitle>
      </div>
    </div>


  </ion-card-header>
</ion-card>

