<ion-header>
  <ion-toolbar>
    <ion-title>Tous les deals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getAllDeals($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of result">
      <app-deals-component [title]="item.title" [image]="item.imageId" [price]="item.price" [oldPrice]="item.oldPrice"
                           [salePercent]="item.salePercent" [vote]="item.vote" [dateCreation]="item.dateCreation"
                           [description]="item.description" [expired]="item.expired" [idDeal]="item._id" [id]="item.productSku"></app-deals-component>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addDeals()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="deals" routerLink="/deals">
          <ion-icon name="pricetags"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="search" routerLink="/info-produits">
          <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="map" routerLink="/map">
          <ion-icon name="map"></ion-icon>
        </ion-tab-button>
        <ion-tab-button *ngIf="this.isUserLoggedIn" tab="account" routerLink="/compte-infos">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button *ngIf="!this.isUserLoggedIn" tab="account" routerLink="/connexion">
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
