<ion-header>
  <ion-toolbar>
    <ion-title>deals</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of result">
<!--      <app-deals-component [title]="item.title" [image]="item.image_id" [price]="item.price"></app-deals-component>-->
    </ion-item>
  </ion-list>
</ion-content>


<ion-content>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="deals" routerLink="/deals">
        <ion-icon name="pricetags"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search" routerLink="/info-produits">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="map" routerLink="/map">
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account" routerLink="/compte-infos">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
