<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>info-produit-to-deal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">

  <ion-searchbar placeholder="Nom, Marque,..." [(ngModel)]="monFiltre" (ionChange)="updateFilter()"></ion-searchbar>

  <ion-label>Ou</ion-label>
  <ion-button class="myButton" color="primary" expand="block" (click)="scanBRcode()">
    Scanner
  </ion-button>
</ion-content>

<ion-content  *ngIf="scanne">
  <ion-label>
    <app-products-component [produit]="this.monProduit" [nom]="this.monProduit.product_name" [marque]="this.monProduit.brands" [image]="this.monProduit.image_front_url"></app-products-component>
  </ion-label>
</ion-content>

<ion-content *ngIf="search">
  <ion-list>
    <ion-item *ngFor="let item of searchResults">
      <app-products-component [id]="item.code" [produit]="item" [nom]="item.product_name" [marque]="item.brands" [image]="item.image_front_url"></app-products-component>
    </ion-item>
  </ion-list>
</ion-content>
