<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Barcode/QR Scanner v1.0 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div *ngIf="scannedBarCode">
      <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["text"] }}</strong>
      </ion-item>
      <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["format"] }}</strong>
      </ion-item>
    </div>
  </ion-card>

  <ion-card>
    <h3>Generate New QR Code</h3>
    <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>
  </ion-card>
</ion-content>

<ion-content>
  <ion-label *ngIf="this.isUserLoggedIn"> L'utilisateur est connecté! </ion-label>
  <ion-label *ngIf="!this.isUserLoggedIn">L'utilisateur n'est pas connecté</ion-label>
  <ion-button  routerLink="/create-account">create account</ion-button>
  <ion-button  routerLink="/create-deals">create-deals</ion-button>
  <ion-button (click)="authenticateWithEmail()">connect</ion-button>
  <ion-button (click)="logout()">logout</ion-button>
</ion-content>
<ion-content *ngIf="scannedBarCode">
  <ion-label>
    Produit : {{this.monProduit.product_name}}
  </ion-label>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="deals" routerLink="/deals">
          <ion-icon name="pricetags"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="search" routerLink="/info-produits">
          <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="map" routerLink="/map">
          <ion-icon name="map"></ion-icon>
        </ion-tab-button>

        <ion-tab-button *ngIf="this.isUserLoggedIn" tab="account" routerLink="/compte-infos">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button *ngIf="!this.isUserLoggedIn" tab="account" routerLink="/connexion">
            <ion-icon name="log-in-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

