<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Barcode/QR Scanner v1.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-button color="danger" (click)="scanBRcode()" expand="block">
      Scan Barcode
    </ion-button>
  </ion-card>

  <ion-card>
    <div *ngIf="scannedBarCode">
      <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["text"] }}</strong>
      </ion-item>
      <ion-item>
        Scanned code output: <strong>{{ scannedBarCode["format"] }}</strong>
      </ion-item>
    </div>
  </ion-card>

  <ion-card>
    <h3>Generate New QR Code</h3>
    <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>

    <ion-button color="primary" (click)="generateBarCode()" expand="block">
      QR Code Create
    </ion-button>
  </ion-card>
</ion-content>


<ion-content *ngIf="scannedBarCode">
  <ion-label>
    Produit : {{this.monProduit.product_name}}
  </ion-label>
</ion-content>

<ion-content>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="deals" routerLink="/deals">
        <ion-icon name="pricetags"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search" routerLink="/info-produits">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="map" routerLink="/map">
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account" routerLink="/compte-infos">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

